@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "custom";
@import "~primereact/resources/themes/lara-light-indigo/theme.css"; //theme
@import "~primereact/resources/primereact.min.css"; //core css
@import "~primeicons/primeicons.css";
body {
  margin: 0;

  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
p {
  font-family: "Outfit", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
code {
  font-family: "Outfit", sans-serif;
}
